
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Show Products", "Index", "AdminProduct")
@Html.ActionLink("Create product", "Create", "AdminProduct")