<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    @Html.Partial("~/Views/Shared/_Navbar.cshtml")

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-2">
                @Html.Partial("~/Areas/Admin/Views/Shared/_AdminMenuPartial.cshtml")
            </div>
            <div class="col-8">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
