@model ElectricShop.Web.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="container-fluid no-gutters">
    @foreach(var p in Model.Products)
    {
        <div class="row">
            <div class="col">
                @Html.Partial("ProductSummary", p)
            </div>
        </div>
    }
</div>


<!--
<div>
@foreach (var p in Model.Products)
{
    <div>
        @Html.Partial("ProductSummary", p)
    </div>

    if (User.IsInRole("Admin"))

    {
        <div>
            Edit
        </div>
    }
}
</div>
    -->
<div class="btn-group btn-group-lg">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))  
</div>