@model IEnumerable<ElectricShop.Common.DTO.ProductDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div>

</div>

@foreach (var item in Model)
{
    
    <h4>Description: @item.Description</h4>
    <h4>Name: @item.Name</h4>
    <h4>Price: @item.Price</h4>
}