@model IEnumerable<ElectricShop.Data.Entities.Product>
@{
    ViewBag.Title = "View";
}

<h2>Search Results</h2>

@foreach (var p in Model)
{
    <div>
        @Html.Partial("ProductSummary", p)
    </div>
}

